<div class="container-xxl py-5 px-0 wow zoomIn" data-wow-delay="0.1s">
    <div class="row g-0">
        <div class="col-md-6 bg-dark d-flex align-items-center">
            <div class="p-5">
                <h6 class="section-title text-start text-white text-uppercase mb-3">Lüks Yaşam</h6>
                <h1 class="text-white mb-4">Erken indirim fırsatlarından yararlanın</h1>
                <p class="text-white mb-4">Yaz indirimlerden ve aile paketlerinden yararlanarak hızlıca rezervasyon yapın.Tatilin keyfini çıkarın.</p>
                <a href="" class="btn btn-primary py-md-3 px-md-5 me-3">Tüm Odalarımız</a>
                <a href="" class="btn btn-light py-md-3 px-md-5">Oda Kirala

                </a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="video">
                <button type="button" class="btn-play" data-bs-toggle="modal" data-src="https://www.youtube.com/embed/D0Q9DGzzvqg" data-bs-target="#videoModal">
                    <span></span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content rounded-0">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- 16:9 aspect ratio -->
                <div class="ratio ratio-16x9">
                    <iframe width="956" height="538" src="https://www.youtube.com/embed/D0Q9DGzzvqg" title="Bera Alanya Otel Tanıtım Filmi 2018" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>