<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="~/adminweb/widgets.html" aria-expanded="false">
                    <i class="fa-solid fa-user"></i><span class="nav-text">Personeller</span>
                </a>
            </li>
        </ul>
    </div>
</div>