<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/Admin/Staff/Index" aria-expanded="false">
                    <i class="fa-solid fa-user"></i><span class="nav-text">Personeller</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Testimonial/Index" aria-expanded="false">
                    <i class="fa-solid fa-face-smile"></i><span class="nav-text">Referanslar</span>
                </a>
            </li>
            <li>
                <a href="/Admin/Service/Index" aria-expanded="false">
                    <i class="fa-solid fa-bell-concierge"></i><span class="nav-text">Hizmetler</span>
                </a>
            </li>
        </ul>
    </div>
</div>